<div class="section-tabs">
  <%= link_to_if !tab_select("overview"), "<h3 class=button-text>Overview</h3>".html_safe, dashboard_index_path, class: "section-button" do %>
    <%= link_to "<h3 class=button-text>Overview</h3>".html_safe, dashboard_index_path, class: "section-button selected" %>
  <% end %>
  <%= link_to_if !tab_select("repositories"), "<h3 class=button-text>Repositories <span>#{@presenter.repository_count}</span></h3>".html_safe, dashboard_index_path(tab: "repositories"), class: "section-button" do %>
    <%= link_to "<h3 class=button-text>Repositories <span>#{@presenter.repository_count}</span></h3>".html_safe, dashboard_index_path(tab: "repositories"), class: "section-button selected" %>
  <% end %>
  <%= link_to_if !tab_select("stars"), "<h3 class=button-text>Stars <span>#{@presenter.stars.count}</span></h3>".html_safe, dashboard_index_path(tab: "stars"), class: "section-button" do %>
    <%= link_to "<h3 class=button-text>Stars <span>#{@presenter.stars.count}</span></h3>".html_safe, dashboard_index_path(tab: "stars"), class: "section-button selected" %>
  <% end %>
  <%= link_to_if !tab_select("followers"), "<h3 class=button-text>Followers <span>#{@presenter.followers_count}</span></h3>".html_safe, dashboard_index_path(tab: "followers"), class: "section-button" do %>
    <%= link_to "<h3 class=button-text>Followers <span>#{@presenter.followers_count}</span></h3>".html_safe, dashboard_index_path(tab: "followers"), class: "section-button selected" %>
  <% end %>
  <%= link_to_if !tab_select("following"), "<h3 class=button-text>Following <span>#{@presenter.following_count}</span></h3>".html_safe, dashboard_index_path(tab: "following"), class: "section-button" do %>
    <%= link_to "<h3 class=button-text>Following <span>#{@presenter.following_count}</span></h3>".html_safe, dashboard_index_path(tab: "following"), class: "section-button selected" %>
  <% end %>
</div>
