<div class="main">
  <div class="profile-card">
    <%= image_tag @presenter.avatar_url, class: "profile-pic" %>
    <div class="names">
      <span class="full-name"><%= @presenter.full_name %></span><br>
      <span class="username"><%= current_user.screen_name %></span>
    </div>
    <div class="bio">
      <p><%= @presenter.bio %></p>
    </div>
    <div class="details">
      <% if @presenter.company %>
      <div class="company">
        <%= render "layouts/company" %>
        <%= @presenter.company %>
      </div>
      <% end %>
      <% if @presenter.location %>
      <div class="location">
        <%= render "layouts/location" %>
        <%= @presenter.location %>
      </div>
      <% end %>
      <% if @presenter.email %>
      <div class="email">
        <%= render "layouts/email" %>
        <%= link_to @presenter.email %>
      </div>
      <% end %>
      <% if @presenter.blog %>
      <div class="blog">
        <%= render "layouts/link" %>
        <%= link_to @presenter.blog %>
      </div>
      <% end %>
    </div>
  </div>
  <div class="content">
    <%= render "dashboard/tabs" %>
    <%= tab_data(@presenter.tab) %>
  </div>
</div>
